

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: "Inter", sans-serif; 
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #F9FAFF;
    color: #263238;
    line-height: 1.5;
  }

  h1, h2, h3, h4, h5, h6 {
    color: #263238;
    margin-bottom: 16px; 
  }

  p {
    margin-bottom: 16px;
    color: #263238;
  }

  a {
    color: #263238;
    text-decoration: none; 
  }

  button {
    cursor: pointer;
  }
  img {
    width: 100%;
  }

  .container {
    margin: 0 auto;
    max-width: 1440px;
    @media screen and (max-width: 1024px) {
        padding: 0 5px;
    }
  }

  .section-container {
    margin: 50px 0;
  }

.flex {
    display: flex;
} 
.align-center {
    align-items: center;
} 
.justify-space-between {
    justify-content: space-between;
}

.col-gap-10 {
    column-gap: 10px;
}
.col-gap-12 {
    column-gap: 12px;
}
.col-gap-30 {
    column-gap: 30px;
}

.row-gap-10 {
    row-gap: 10px;
}

.hide-on-mobile {
    @media screen and (max-width: 600px) {
        display: none;
    }
}

.hide-on-desktop {
    @media screen and (min-width: 600px) {
        display: none;
    }
}